*EmboUnity_20260529/
*Model/
*ros_env/
*Results/
*NavAlg/NavAlg/.qoder
*NavAlg/NavAlg/.venv
*NavAlg/NavAlg/.vscode
*NavAlg/NavAlg/usvlib4ros/__pycache__
*NavAlg/NavAlg/usvlib4ros/msg/__pycache__
*NavAlg/NavAlg/usvlib4ros/navigation/__pycache__
*NavAlg/NavAlg/usvlib4ros/user/__pycache__
*NavAlg/NavAlg/usvlib4ros/usvRosUtil/__pycache__
*NavAlg/NavAlg/usvlib4ros/user/temp_diff
*NavAlg/NavAlg/usvlib4ros/user/__pycache__
*NavAlg/NavAlg/config.json
*runs/
.venv
.idea
.vscode
*docs/TODO.md
